%table.attr
  %tr
    - options = ["akb", "ske", "nmb"]
    %th= form.label :department, "部署"
    %td= form.select :department, options
  %tr
    %th= form.label :name, "お名前"
    %td= form.text_field :name, size: 15
  %tr
    %th= form.label :pronunciation, "ふりがな"
    %td= form.text_field :pronunciation, size: 15
  %tr
    %th= form.label :phone_number, "内線番号"
    %td= form.text_field :phone_number, size: 15
  